.flipCard{
    transform-style: preserve-3d;
    //perspective: 1200px;
    perspective: 600px;
    backface-visibility: hidden;
    top:0;
    width: 100%;
    height: 100%;
}

.flipContainer{
    border: solid 1px black;
    //transform-style: preserve-3d;
    perspective: 600px;
    top:0;
    width: 100%;
    height: 100%;
}

.flipWrapper{
    perspective: 600px;
    border: solid 1px black;
    background-color: gray;
}

.noSelect{    
    -webkit-user-select: none;
    user-select: none;
    cursor:not-allowed; /*makes it even more obvious*/
}